<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Fundingrate</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        
        <canvas id="barChartFunding" aria-label="chart" role="img"></canvas>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>

        <script src="../scriptHTML/script.js"></script>
    </body>
</html>